* {
	margin: 0;
	padding: 0;
}
a {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.headig {
	width: 100%;
	height: 30px;
	position: fixed;
	left: 0;
	top: 0;
}
.headig div {
	height: 30px;
	float: left;
	-webkit-user-select: none;
}
.headig p {
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: #289eff;
}
.headig p a {
	text-decoration: none;
}

.headig .back {
	width: 20%;
	background: cyan;
}
.headig .title {
	width: 60%;
	background: blanchedalmond;
}
.headig .other {
	width: 20%;
	background: cyan;
}
.content {
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 30px 2px;
	padding: 5px 0;
	word-wrap: break-word;
	column-width: 100px;
	column-count: 2;
	column-gap: 10px;
	column-rule: 1px dashed #00FFFF;
	column-fill: balance;
	-webkit-column-width: 100px;
	-moz-column-width: 100px;
	column-width: 100px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	-webkit-column-rule: 1px dashed #00FFFF;
	-moz-column-rule: 1px dashed #00FFFF;
	column-rule: 1px dashed #00FFFF;
	-webkit-column-fill: balance;
	-moz-column-fill: balance;
	column-fill: balance;
}
.foot {
	width: 100%;
	height: 30px;
	position: fixed;
	left: 0;
	bottom: 0;
}
.foot .foot_left {
	width: 70%;
	background: #00FFFF;
	float: left;
	-webkit-user-select: none;
}
.foot .foot_right {
	width: 30%;
	-webkit-user-select: none;
	float: left;
}